<?xml version="1.0"?>
<model>
  <name>Test Drone</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Sharwan</name>
    <email>sharwan@aerothon.com</email>
  </author>
  <description>A basic UAV chassis with a downward-facing ROS 2 camera.</description>
</model>
